- name: Ensure healthchecks folder exists
  file:
    path: "{{ DOCKER.host_path }}/healthchecks/"
    recurse: yes
    state: directory

- community.docker.docker_container:
    name: healthchecks
    image: linuxserver/healthchecks
    pull: true
    state: started
    recreate: yes
    restart_policy: always
    volumes:
      - "{{ DOCKER.host_path }}/healthchecks:/config/"
    env:
      TZ: "Europe/London"
      PGID: "1000"
      PUID: "1000"
      SUPERUSER_EMAIL: "{{ admin_email }}"
      SUPERUSER_PASSWORD: "{{ admin_password }}"
      DB: "sqlite"
      DB_NAME: "/config/hc.sqlite"
      EMAIL_HOST: "{{ mail.server }}"
      DEFAULT_FROM_EMAIL: "{{ machine_name }}@{{ mail.domain }}"
      EMAIL_PORT: "{{ mail.port }}"
      EMAIL_HOST_PASSWORD: "{{ mail.password }}"
      EMAIL_HOST_USER: "{{ mail.user }}"
      EMAIL_USE_TLS: "False"
      EMAIL_USE_SSL: "True"
      BASE_URL: "{{ traefik.url }}"
      SITE_ROOT: "http://{{ traefik.url }}"
      DEBUG: "False"
      SITE_NAME: "{{ site_name | default('Healthchecks') }}"
      ALLOWED_HOSTS: "{{ traefik.url }}"
      CSRF_TRUSTED_ORIGINS: "http://{{ traefik.url }}"
      PING_ENDPOINT: "http://{{ traefik.url }}/ping/"
      REGISTRATION_OPEN: "False"
    labels:
      traefik.frontend.rule: "Host: {{ traefik.url }}"
      traefik.port: "8000"
      traefik.enable: "true"
    networks:
      - name: "{{ DOCKER.net.traefik }}"
      - name: "{{ DOCKER.net.dbms }}"