- community.docker.docker_container:
    name: netdata
    image: netdata/netdata
    pull: true
    state: started
    recreate: yes
    restart_policy: always
    ports:
      - "19999:19999"
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /var/run/docker.sock:/var/run/docker.sock
    security_opts:
      apparmor:unconfined
    capabilities:
      - SYS_PTRACE
    networks:
      - name: "{{ DOCKER.net.traefik }}"
    labels:
      traefik.frontend.rule: "Host: {{ traefik.url }}"
      traefik.port: "19999"
      traefik.enable: "true"