- name: "Start Heimdall"
  community.docker.docker_container:
    name: heimdall
    image: linuxserver/heimdall
    pull: true
    state: started
    recreate: yes
    restart_policy: always
    volumes:
      - "{{ DOCKER.host_path }}/heimdall:/config"
    env:
      TZ: 'Europe/London'
    networks:
      - name: "{{ DOCKER.net.traefik }}"
    labels:
      traefik.frontend.rule: "Host: {{ traefik.url }}"
      traefik.port: "80"
      traefik.enable: "true"