- community.docker.docker_container:
    name: n8n
    image: n8nio/n8n:latest
    pull: true
    state: started
    recreate: yes
    restart_policy: always
    volumes:
      - "{{ DOCKER.host_path }}/n8n:/home/node/.n8n"
    env:
      GENERIC_TIMEZONE: 'Europe/London'
      TZ: 'Europe/London'
      EXECUTIONS_DATA_PRUNE: "168"
      EXECUTIONS_DATA_SAVE_ON_SUCCESS: "none"
      N8N_PROTOCOL: "http"
      N8N_HOST: "{{ traefik.url }}"
      WEBHOOK_TUNNEL_URL: "{{ traefik.url }}"
      N8N_SECURE_COOKIE: "false"
    labels:
      traefik.frontend.rule: "Host: {{ traefik.url }}"
      traefik.port: "5678"
      traefik.enable: "true"
    networks:
      - name: "{{ DOCKER.net.traefik }}"
      - name: "{{ DOCKER.net.dbms }}"