- file:
    path: "{{ nextcloud_config }}"
    state: directory

- name: "Copy config file"
  copy:
    src: nextcloud/config.php
    dest: "{{ nextcloud_config }}/config.php"

- community.docker.docker_compose_v2:
    project_name: nextcloud
    recreate: always
    pull: yes
    definition:
      version: '3'

      services:
        redis:
          image: redis:alpine
          recreate: always
          networks:
            - DBMS
        #        clamav:
        #          image: mkodockx/docker-clamav
        #          recreate: always
        #          networks:
        #            - DBMS

        nextcloud:
          image: linuxserver/nextcloud:latest
          volumes:
            - "{{ data_path }}:/data"
            - "{{ nextcloud_config }}:/config/www/nextcloud/config/"
          recreate: always
          environment:
            - PUID=99
            - PGID=100
            - TZ=Europe/London
          depends_on:
            - redis
          networks:
            - NET
            - DBMS

      networks:
        NET:
          external:
            name: "{{ DOCKER.net.traefik }}"
        DBMS:
          external:
            name: "{{ DOCKER.net.dbms }}"