- docker_volume:
    name: portainer-volume
    state: present
    recreate: never

- name: "Start portainer"
  community.docker.docker_container:
    name: portainer
    image: portainer/portainer-ce
    pull: true
    state: started
    recreate: no
    restart_policy: always
    container_default_behavior: "compatibility"
    command: -H unix:///var/run/docker.sock
    ports:
      - "9000:9000"
    volumes:
      - portainer-volume:/data
      - /var/run/docker.sock:/var/run/docker.sock
    network_mode: "{{ DOCKER.net.traefik | default('bridge') }}"
    labels:
      traefik.frontend.rule: "Host: {{ traefik.url | default(omit) }}"
      traefik.port: "9000"
      traefik.enable: "true"