- name: "Start open speed test"
  community.docker.docker_container:
    name: openspeedtest
    image: openspeedtest/latest
    pull: true
    state: started
    recreate: yes
    restart_policy: always
    networks:
      - name: "{{ DOCKER.net.traefik }}"
    labels:
      traefik.frontend.rule: "Host: {{ traefik.url }}"
      traefik.port: "8080"
      traefik.enable: "true"