- name: "Start cloudflare-ddns container"
  community.docker.docker_container:
    name: cloudflare-ddns
    image: abeltramo/cloudflare-ddns:latest
    pull: true
    state: started
    recreate: no
    restart_policy: always
    container_default_behavior: "compatibility"
    env:
      AUTH_EMAIL: "{{ cloudflare.auth_email }}"
      AUTH_KEY: "{{ cloudflare.auth_key }}"
      ZONE_IDENTIFIER: "{{ cloudflare.zone_identifier }}"
      RECORD_NAME: "{{ external_domain_name }}"
      HEALTHCHECK_START_URL: "{{ HEALTHCHECK.url + '/' + HEALTHCHECK.id + '/start' if HEALTHCHECK is defined else omit }}"
      HEALTHCHECK_END_URL: "{{ HEALTHCHECK.url + '/' + HEALTHCHECK.id if HEALTHCHECK is defined else omit }}"
    network_mode: "{{ DOCKER.net.traefik | default('bridge') }}"