- name: "Install Docker dependencies"
  apt:
    name: [apt-transport-https, ca-certificates, curl, gnupg2, lsb-release]
    update_cache: yes


- name: Add Docker GPG apt key
  ansible.builtin.shell: |
    curl -fsSL https://download.docker.com/linux/{{ ansible_distribution | lower }}/gpg | gpg --dearmor -o /etc/apt/keyrings/docker.gpg
  args:
    creates: /etc/apt/keyrings/docker.gpg

- name: Set correct permissions for Docker GPG key
  ansible.builtin.file:
    path: /etc/apt/keyrings/docker.gpg
    mode: '0644'

- name: "Configure Docker's upstream APT repository"
  apt_repository:
    repo: "deb [signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/{{ ansible_distribution | lower }} {{ ansible_distribution_release }} stable"
    state: present
    filename: docker
    update_cache: true

- name: "Install Docker"
  apt:
    name: [docker-ce, docker-ce-cli, containerd.io, docker-buildx-plugin, docker-compose-plugin]
    update_cache: yes

- name: "Install python-pip"
  apt:
    name: [python3-pip]