- community.docker.docker_container:
    name: lazylibrarian
    image: linuxserver/lazylibrarian
    pull: true
    state: started
    recreate: yes
    restart_policy: always
    volumes:
      - "{{ DOCKER.host_path }}/{{ sonarr_config | default('lazylibrarian/config') }}:/config"
      - "{{ books_path }}:/books"
      - "{{ torrent_path }}:/downloads"
    env:
      DOCKER_MODS: "linuxserver/calibre-web:calibre"
      TZ: "Europe/London"
      PGID: "0"
      PUID: "0"
    labels:
      traefik.frontend.rule: "Host: {{ traefik.url }}"
      traefik.port: "5299"
      traefik.enable: "true"
    networks:
      - name: "{{ DOCKER.net.traefik }}"