- name: "Start hoppscotch"
  community.docker.docker_container:
    name: hoppscotch
    image: hoppscotch/hoppscotch
    pull: true
    state: started
    recreate: yes
    restart_policy: always
    networks:
      - name: "{{ DOCKER.net.traefik }}"
    command: npm run start
    labels:
      traefik.frontend.rule: "Host: {{ traefik.url }}"
      traefik.port: "3000"
      traefik.enable: "true"