<?php
$CONFIG = array(
    'memcache.local' => '\\OC\\Memcache\\APCu',
    'memcache.distributed' => '\OC\Memcache\Redis',
    'memcache.locking' => '\OC\Memcache\Redis',
    'redis' => array(
        'host' => '{{ redis_url }}',
        'port' => 6379,
    ),
    'enable_previews' => true,
    'preview_max_x' => 1080,
    'preview_max_y' => 1920,
    'preview_max_scale_factor' => 1.5,
    'enabledPreviewProviders' =>
        array(
            'OC\Preview\Movie',
            'OC\Preview\PNG',
            'OC\Preview\JPEG',
            'OC\Preview\GIF',
            'OC\Preview\BMP',
            'OC\Preview\XBitmap',
            'OC\Preview\MP3',
            'OC\Preview\MP4',
            'OC\Preview\TXT',
            'OC\Preview\MarkDown',
            'OC\Preview\PDF'
        ),
    'datadirectory' => '{{ nextcloud_data }}',
    'instanceid' => 'oc5smchsv2g0',
    'passwordsalt' => '{{ salt | default(lookup('password', '/dev/null length=30 chars=ascii_letters')) }}',
    'secret' => '{{ secret | default(lookup('password', '/dev/null length=45 chars=ascii_letters')) }}',
    'trusted_domains' =>
        array(
            0 => '{{ public_host }}',
        ),
    'dbtype' => 'mysql',
    //'htaccess.RewriteBase' => '/',
    'dbname' => '{{ SQL.db }}',
    'dbhost' => '{{ SQL.host }}',
    'dbport' => '',
    'dbtableprefix' => 'oc_',
    'mysql.utf8mb4' => true,
    'dbuser' => '{{ SQL.user }}',
    'dbpassword' => '{{ SQL.password }}',
    'installed' => true,
    "log_type" => "file",
    "logfile" => "/var/log/nextcloud.log",
    "logfilemode" => 0640,
    "loglevel" => 1,
    'logtimezone' => 'Europe/London',
    'default_phone_region' => 'IT',
    'overwritehost'     => '{{ public_host }}',
    'overwriteprotocol' => 'https',
    'overwrite.cli.url' => 'https://{{ public_host }}/',
    'overwritewebroot'  => '/',
    'allow_local_remote_servers' => true,
    'localstorage.allowsymlinks' => true,
{% if mail is defined %}
    'mail_from_address' => '{{ mail.from_address | default('nextcloud') }}',
    'mail_smtpmode' => 'smtp',
    'mail_sendmailmode' => 'smtp',
    'mail_domain' => '{{ mail.domain }}',
    'mail_smtpauthtype' => 'LOGIN',
    'mail_smtpauth' => 1,
    'mail_smtphost' => '{{ mail.server }}',
    'mail_smtpport' => '{{ mail.port }}',
    'mail_smtpname' => '{{ mail.username }}',
    'mail_smtppassword' => '{{ mail.password }}',
    'mail_smtpsecure' => 'ssl',
{% endif %}
);